.special{
	margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
    @include pad{
        max-width: 767px;
    }
    @include mobile{
        width: 100%;
        flex-wrap: wrap;}

	.quickLink {
		ul{
			width: 25%;
			display: flex;
			justify-content: space-between;
			padding-top: 24px;
			padding-bottom: 8px;
			@include pad{
				width: 40%;
			}
			@include mobile{
				width: 80%;
				padding-top: 16px;
			}
		
		}
		
	}

		.hashtag ul{
			width: 15%;
			display: flex;
			justify-content: space-between;
			padding-bottom: 8px;
			li{
				font-weight: bold;
				font-size: 24px;
				line-height: 36px;
				@include mobile{
					font-size: 16px;
					line-height: 24px;
				}

			}
			@include pad{
				width: 25%;
			}

		}

    }

.container4Content{
	margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
	display: flex;
    @include pad{
        max-width: 767px;
    }
    @include mobile{
        width: 100%;
        flex-wrap: wrap;}
	.content{
		width:65%;
		h1{
			font-size: 48px;
			line-height: 72px;
			margin-bottom: 8px;
			@include mobile{
				font-size: 24px;
				line-height: 36px;
			}
		}
		h2{
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 8px;
		}
		img{
			width: 100%;
			
		}
		p{
			font-size: 16px;
			line-height: 24px;
			color: #555555;
			margin-top: 8px;
			margin-bottom: 40px;
			@include mobile{
				margin-bottom: 16px;
			}
		}
		@include pad{
			width:80%;
		}
		@include mobile{
			width: 100%;
			margin-bottom: 48px;
		}
	}

	.TAGS{
		margin-left: 24px;
		width: 70%;
		h2 {
			span{
				font-size: 48px;
				color: #AA0601;
				margin-right: 12px;
			}
			font-size: 32px;
			line-height: 48px;
			font-weight: bold;
			color: #AA0601;
			display: flex;
		}
		.hashtag{
			ul{
				display: flex;
				flex-wrap: wrap;
				li{
					font-size: 24px;
					line-height: 36px;
					color: #AA0601;
					padding-right:24px;
					font-weight: bold;
				}
			}
		}
		@include pad{
			width: 20%;
		}
		@include mobile{
			display: none;
		}
	}
}

.shareLink{
	padding-bottom: 16px;
	border-bottom: 1px solid #707070;
	margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
	@include mobile{
		display: none;
	}

.share{
	width: 23%;
	display: flex;
	justify-content: space-between;

	p{
		font-size: 16px;
		line-height: 24px;
		margin:0px;
	}
	img{
		width: 24px;
		height: 24px;
	}
}
}

.relation{
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 80px;
	.previous{
		line-height: 24px;
	span{
		font-size: 24px;}
	}
	.next{
		line-height: 24px;
	}
	@include mobile{
		display: none;
	}
}